@font-face {
  font-family: clashDisplay;
  src: url("assets/ClashDisplay-Variable.ttf");
  font-display: auto;
}

:root {
  --cursor-color: white;
  --bg-color: black;
  --text-color: white;

  --init-col: #0b004b;
  --end-col: #48005a;
  font-family: clashDisplay;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: -10rem 0 0 0;
}

body {
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(to left top, var(--init-col), var(--end-col)); */
  background-color: var(--bg-color);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 0.5rem;
  letter-spacing: 0.5px;
  word-spacing: 1px;
}

h1 {
  margin-top: 0;
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 100%;
  margin: 0;
  padding: 2rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
